<html>
    <head>
        <Title>Individual Order</Title>
    </head>
    <body>
        <b>{{ order.name }}</b>: {{ order.title }} | <i>{{order.date}}</i> | {{ order.quantity}} | <b>{{order.delivery_method}}</b>
    </body>
    </html>
</html>